.header {
  color: #000;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 34px;
  color: #000;
}

.title {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
}

.subTitle {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}
